<div *ngIf="inventarioAbastecer.producto.id === -1" class="row form-group">
    <div class="col-lg-6 col-xlg-6 col-md-6 text-right ">
        <div class="card mb-0 ">
            <div class="card-body ">
                <input type="number " #input class="form-control form-control-line " placeholder="Buscar producto ">
            </div>
        </div>
    </div>
</div>
<div *ngIf="inventarioAbastecer.producto.id> -1" class="row form-group">
    <div class="col-2">
        <button (click)="regresar()" class="btn waves-effect waves-light btn-rounded btn-outline-secondary btn-md">
              <i class="fa fa-arrow-circle-left"></i> Regresar
      </button>

    </div>

</div>
<div *ngIf="inventarioAbastecer.producto.id === -1" class="row form-group animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover stylish-table">
                        <thead>
                            <tr>

                                <th class="w-20">Producto</th>
                                <th class="text-center">Precio</th>
                                <th class="text-right">Stock</th>
                                <th class="text-right">Stock <br>Minimo</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inv of inventario ; index as i" [ngClass]="{'footable-even': (i % 2 == 0), 'footable-odd': (i % 2 != 0)}" class="animated fadeIn">
                                <!-- <td>
                                  <img [src]=" inv.producto.imagen | imagen:'producto'" class="img-50 img-circle pointer ">
                              </td> -->
                                <td><img [src]=" inv.producto.imagen | imagen:'producto'" class="img-50 img-circle pointer float-left m-r-15"> {{ inv.producto.nombre }} <br><small>{{ inv.producto.codigo }}</small></td>
                                <td class="text-center"> {{ inv.producto.precio | currency}} </td>
                                <td class="text-right">
                                    {{ inv.stock }}
                                </td>
                                <td class="text-right"> {{ inv.producto.stockminimo}}</td>
                                <td class="text-center">
                                    <i class="mdi mdi-check mdi-36px text-success" *ngIf="inv.stock > inv.producto.stockminimo" title="Surtido"></i>
                                    <i class="mdi mdi-alert mdi-36px text-warning" *ngIf="inv.stock > 0 && inv.stock <= inv.producto.stockminimo" title="Por agotar"></i>
                                    <i class="mdi mdi-alert mdi-36px text-danger" *ngIf="inv.stock === 0" title="Agotado"></i>
                                </td>
                                <td class="text-center">
                                    <button (click)="seleccionar(inv)" class="btn btn-info">
                                      <i class="fa fa-plus"></i>
                                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="inventarioAbastecer.producto.id > -1" class="row form-group animated fadeIn">
    <div class="col-12">
        <div class="form-horizontal form-material" autocomplete="off">
            <div class="form-group row">
                <div class="col-lg-8 col-xlg-8 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="m-t-30 text-center subir-imagen">
                                        <img [src]="inventarioAbastecer.producto.imagen | imagen:'producto'" class="img-circle" width="200" />
                                        <h4 class="card-title m-t-10">{{inventarioAbastecer.producto.nombre}}</h4>
                                        <h6 class="card-subtitle">{{inventarioAbastecer.producto.codigo}}</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h3>Stock</h3>
                                            <div class="p-2 display-5 text-info">
                                                <span>{{ nuevoStock }}</span>
                                            </div>
                                        </div>

                                        <table class="table no-border">
                                            <tbody>
                                                <tr>
                                                    <td class="text-right w-50">Precio:</td>
                                                    <td class="font-medium w-50">{{ inventarioAbastecer.producto.precio | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right w-50">Unidad:</td>
                                                    <td class="font-medium w-50">{{ inventarioAbastecer.producto.unidad.descripcion}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right w-50">Marca:</td>
                                                    <td class="font-medium w-50">{{ inventarioAbastecer.producto.marca.nombre}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">Categoria:</td>
                                                    <td class="font-medium">{{ inventarioAbastecer.producto.categoria.descripcion}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">&nbsp;</div>
                                <div class="col-6 offset-6">
                                    <label>Entrada</label>
                                    <input #cantidad [(ngModel)]="cantidadEntrada" (keyup)="entrada(cantidad.value)" (change)="entrada(cantidad.value)" type="number" class="form-control" placeholder="Ingrese la cantidad">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button [disabled]="cantidadEntrada === 0" (click)="guardar()" class="btn waves-effect waves-light btn-rounded btn-info btn-md" type="submit">
                                      <i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>