<div class="row">
    <div class="col-6 text-right">
        <div class="card">
            <div class="card-body">
                <input type="text" #input (keyup)="buscarConfiguraciones( input.value )" class="form-control form-control-line" placeholder="Buscar configuracions">
            </div>
        </div>
    </div>
    <div class="col-6 text-right">
        <div class="card">
            <div class="card-body">
                <button type="button" (click)="nuevaConfiguracion()" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#crear-editar">Nueva configuracion <i class="fa fa-plus fa-spin"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Configuraciones registradas ( <small>{{ configuraciones.length }}</small> )</h3>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover stylish-table" data-page-size="10">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Valor</th>
                                <th class="text-center">Ultima<br>Modificación</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conf of configuraciones" class="animated fadeIn">
                                <td>{{ conf.id }}</td>
                                <td>{{ conf.codigo }}</td>
                                <td>{{ conf.valor }} </td>
                                <td class="text-center">
                                    <span class="mytooltip tooltip-effect-3">
                                                    <span class="">
                                                        <i class="fa fa-info-circle text-info fa-2x"></i>
                                                    </span>
                                    <span class="tooltip-content p-l-30">
                                                            <span class="tooltip-text p-l-20">
                                                                Fecha Modificacion: {{ conf.fechamodificacion | date:'dd/MM/yyyy, h:mm a' }} <br>
                                                                Usuario: {{ conf.usuariomodificacion.nombre }}
                                                            </span>
                                    </span>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button (click)="editarConfiguracion(conf)" data-toggle="modal" data-target="#crear-editar" class="btn btn-info" aria-hidden="true">
                                      <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <div id="crear-editar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    <span *ngIf="esNuevo">Nueva Configuración</span>
                                                    <span *ngIf="!esNuevo">Editar Configuración</span>
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-horizontal form-material">
                                                    <div class="form-group">
                                                        <div class="col-md-12 m-b-20">
                                                            <input [(ngModel)]="configuracion.codigo" [disabled]="!esNuevo" name="nombre" type="text" class="form-control" placeholder="Nombre" autocomplete="off"> </div>
                                                        <div class="col-md-12 m-b-20">
                                                            <input [(ngModel)]="configuracion.valor" name="valor" type="text" class="form-control" placeholder="Valor" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                                                <button (click)="guardar()" type="submit" class="btn btn-info waves-effect" data-dismiss="modal">Guardar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- <pre>
                        {{ configuracion | json }}
                    </pre> -->
                </div>
            </div>
        </div>
    </div>
</div>