#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.subir-imagen:hover {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 70px;
}

.img-50 {
    width: 50px;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.label-shadow {
    box-shadow: 0px 1px 7px #c5c5c5;
}

.card {
    box-shadow: 0px 1px 6px #bfbfbf !important;
    border-radius: 11px !important;
}