<div class="row">
    <div class="col-6 text-right">
        <div class="card">
            <div class="card-body">
                <input type="text" #input (keyup)="buscarPersonas( input.value )" class="form-control form-control-line"
                    placeholder="Buscar configuracions">
            </div>
        </div>
    </div>
    <div class="col-6 text-right">
        <div class="card">
            <div class="card-body">
                <button type="button" (click)="nuevaPersona()" class="btn btn-info btn-rounded" data-toggle="modal"
                    data-target="#crear-editar">Nueva Persona <i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Prestamos registrados ( <small>{{ personas.length }}</small> )</h3>
                    </div>
                    <div class="col-6 text-right p-r-40">
                        <input id="incluirInactivos" (click)="cargarPersonas()" [(ngModel)]="incluirInactivos"
                            name="incluirInactivos" type="checkbox" class="chk-col-light-green" checked="">
                        <label for="incluirInactivos">Ver Inactivos</label>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover stylish-table" data-page-size="10">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <!-- <th>Empresa</th> -->
                                <!-- <th class="uk-hidden-small">Direccion</th> -->
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Tipo</th>
                                <th>Estatus</th>
                                <th>Ultima<br>Modificacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let per of personas" class="animated fadeIn">
                                <td>{{ per.id }}</td>
                                <td>{{ per.nombre }}</td>
                                <!-- <td>{{ per.nombreempresa.substring(0,15) }} </td> -->
                                <!-- <td class="uk-hidden-small">{{ per.direccion }} </td> -->
                                <td>{{ per.telefono }} </td>
                                <td>{{ per.correo }} </td>
                                <td>{{ per.tipo }} </td>
                                <td>
                                    <span class="label label-shadow"
                                        [ngClass]="{'label-light-success': per.estatus, 'label-light-danger': !per.estatus}">
                                        <span *ngIf="per.estatus">Activo</span>
                                        <span *ngIf="!per.estatus">Inactivo</span>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="mytooltip tooltip-effect-3">
                                        <span class="">
                                            <i class="fa fa-info-circle text-info fa-2x"></i>
                                        </span>
                                        <span class="tooltip-content p-l-30">
                                            <span class="tooltip-text p-l-20">
                                                Fecha Modificacion:
                                                {{ per.fechamodificacion | date:'dd/MM/yyyy, h:mm a' }} <br>
                                                <!--Usuario: {{ per.usuariomodificacion.nombre }}-->
                                            </span>
                                        </span>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button (click)="editarPersona(per)" data-toggle="modal" data-target="#crear-editar"
                                        class="btn btn-info">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <div id="crear-editar" class="modal fade in" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel">
                                    <form ngNativeValidate (ngSubmit)="guardar(f)" #f="ngForm">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        <span *ngIf="esNuevo">Nueva Persona</span>
                                                        <span *ngIf="!esNuevo">Editar Persona</span>
                                                    </h4>
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-horizontal form-material">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-6">

                                                                    
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input [(ngModel)]="persona.nombre"
                                                                            name="nombre" type="text"
                                                                            class="form-control" placeholder="Nombre"
                                                                            autocomplete="off" required>
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input [(ngModel)]="persona.nombreempresa"
                                                                            name="nombreempresa" type="text"
                                                                            class="form-control" placeholder="Empresa"
                                                                            autocomplete="off">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <select [(ngModel)]="persona.tipo" name="tipo"
                                                                            class="form-control form-control-line"
                                                                            required>
                                                                            <option [ngValue]="null" selected="">
                                                                                Seleccionar
                                                                            </option>
                                                                            <option [ngValue]="tipo.value"
                                                                                *ngFor="let tipo of tiposPersona">
                                                                                {{tipo.text}}
                                                                            </option>

                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input id="estatus"
                                                                            [(ngModel)]="persona.estatus" name="estatus"
                                                                            type="checkbox" class="chk-col-light-green"
                                                                            checked="">
                                                                        <label for="estatus"> Estatus</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">

                                                                  <!-- <div class="col-md-12 m-b-20">
                                                                        <select name="selPais" id="selPais"
                                                                            class="form-control"
                                                                            (change)="onSelectPais($event.target.value)">
                                                                            <option value="0">Pais
                                                                            </option>
                                                                            <option
                                                                                *ngFor="let p of paises | unique | orderBy"
                                                                                [value]="p">{{p}}</option>
                                                                        </select>
                                                                    </div>-->
                                                                  <!--  <div class="col-md-12 m-b-20">
                                                                        <select name="selProvincia" id="selProvincia"
                                                                            class="form-control"
                                                                            (change)="onSelectProvincia($event.target.value)">
                                                                            <option value="0">Provincia</option>
                                                                            <option
                                                                                *ngFor="let p of provincias | unique | orderBy"
                                                                                [value]="p">{{p}}</option>
                                                                        </select>
                                                                    </div>-->
                                                                    <div class="col-md-12 m-b-20">
                                                                        <select name="selCiudad" id="selCiudad"
                                                                            class="form-control">
                                                                            <option value="0">Localidad
                                                                            </option>
                                                                            <option *ngFor="let c of ciudades | orderBy"
                                                                                [value]="c">{{c}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input [(ngModel)]="persona.direccion"
                                                                            name="direccion" type="text"
                                                                            class="form-control" placeholder="Dirección"
                                                                            autocomplete="off">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input [(ngModel)]="persona.telefono"
                                                                            name="telefono" type="text"
                                                                            class="form-control" placeholder="Telefono"
                                                                            autocomplete="off">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input [(ngModel)]="persona.correo"
                                                                            name="correo" type="email"
                                                                            class="form-control" placeholder="Correo"
                                                                            autocomplete="off">
                                                                    </div>


                                                                    <div *ngIf="persona.tipo === 'Cliente'"
                                                                        class="col-md-12 m-b-20 animated fadeIn">
                                                                        <input id="esPersonaVentaPublico"
                                                                            [(ngModel)]="persona.esPersonaVentaPublico"
                                                                            name="esPersonaVentaPublico" type="checkbox"
                                                                            class="chk-col-light-green">
                                                                        <label for="esPersonaVentaPublico"> Default para
                                                                            Ventas</label>
                                                                    </div>


                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                        data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" [disabled]="f.invalid"
                                                        class="btn btn-info waves-effect">Guardar</button>
                                                    <button type="button" class="hide" data-dismiss="modal"
                                                        #cerrarModal></button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </form>
                                </div>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- <pre>
                        {{ configuracion | json }}
                    </pre> -->
                </div>
            </div>
        </div>
    </div>
</div>
